<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 well well-lg" style="padding: 5.0rem">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
        <div class="form-group">
          <input type="email" placeholder="Email" name="email" class="form-control input-lg" ng-model="vm.user.email" required>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-control input-lg" ng-model="vm.user.password" required>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
             Please enter a valid email.
          </p>
          <p class="help-block">{{ vm.errors.other }}</p>
        </div>
        <div style="padding-top: 2.5rem">
          <button class="btn btn-primary btn-lg btn-block btn-login" type="submit">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
