.questions-title {
  text-align: center;
  color: #757575;
  margin-bottom: 1.5rem;
}

label {
  color: #9E9E9E;
}

.qview.ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

.qview.ng-enter {
  opacity: 0;
  transform: translateX(100%);
}

.qview.ng-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.qview.ng-leave {
  opacity: 1;
  transform: translateX(0);
}

.qview.ng-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}
